.scrolling-container {
    overflow: hidden; /* Ẩn thanh cuộn ngang */
    width: 100%;
}

.scrolling-wrapper {
    display: flex;
    white-space: nowrap; /* Đảm bảo các logo nằm trên một hàng ngang */
    padding: 20px 0;
    animation: scroll 10s linear infinite;
}

    .scrolling-wrapper .logo {
        display: inline-block;
        padding: 10px 20px;
        transition: transform 0.2s ease-in-out;
    }

        .scrolling-wrapper .logo:hover {
            transform: scale(1.1);
        }

@keyframes scroll {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(-100%);
    }
}
